/virt_env/
/practice4.ipynb
/practice5.ipynb
/practice6.ipynb
/anscombe.csv
/practice8.ipynb
/.idea/misc.xml
/.idea/modules.xml
/.idea/other.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/TerVer_github.iml
/.idea/vcs.xml
